/* --------------- fonts import ---------------------- */

/* josefin-sans-regular - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/josefin-sans-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/josefin-sans-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/josefin-sans-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/josefin-sans-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/josefin-sans-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/josefin-sans-v20-latin-regular.svg#JosefinSans') format('svg'); /* Legacy iOS */
}
/* josefin-sans-700 - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/josefin-sans-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/josefin-sans-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/josefin-sans-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/josefin-sans-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/josefin-sans-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/josefin-sans-v20-latin-700.svg#JosefinSans') format('svg'); /* Legacy iOS */
}
/* josefin-sans-italic - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/josefin-sans-v20-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/josefin-sans-v20-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/josefin-sans-v20-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/josefin-sans-v20-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/josefin-sans-v20-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/josefin-sans-v20-latin-italic.svg#JosefinSans') format('svg'); /* Legacy iOS */
}
/* josefin-sans-700italic - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/josefin-sans-v20-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/josefin-sans-v20-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/josefin-sans-v20-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/josefin-sans-v20-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/josefin-sans-v20-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/josefin-sans-v20-latin-700italic.svg#JosefinSans') format('svg'); /* Legacy iOS */
}

/* merriweather-regular - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/merriweather-v27-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/merriweather-v27-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/merriweather-v27-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather-v27-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/merriweather-v27-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/merriweather-v27-latin-regular.svg#Merriweather') format('svg'); /* Legacy iOS */
}
/* merriweather-italic - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/merriweather-v27-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/merriweather-v27-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/merriweather-v27-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather-v27-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/merriweather-v27-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/merriweather-v27-latin-italic.svg#Merriweather') format('svg'); /* Legacy iOS */
}
/* merriweather-700 - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/merriweather-v27-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/merriweather-v27-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/merriweather-v27-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather-v27-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/merriweather-v27-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/merriweather-v27-latin-700.svg#Merriweather') format('svg'); /* Legacy iOS */
}
/* merriweather-700italic - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/merriweather-v27-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/merriweather-v27-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/merriweather-v27-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather-v27-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/merriweather-v27-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/merriweather-v27-latin-700italic.svg#Merriweather') format('svg'); /* Legacy iOS */
}

/* m-plus-1-code-regular - latin */
@font-face {
  font-family: 'M PLUS 1 Code';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/m-plus-1-code-v1-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/m-plus-1-code-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/m-plus-1-code-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/m-plus-1-code-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/m-plus-1-code-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/m-plus-1-code-v1-latin-regular.svg#MPLUS1Code') format('svg'); /* Legacy iOS */
}



/* reset browser defaults */

/* * {
	border: 1px solid red !important;
} */

html {
	background-image: url(../img/david-clode-ONGtWYk2z4E-unsplash_opt.jpg);
	font: inherit;
	font-weight: normal;
	font-size: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Josefin Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
	color: white;
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

header {
	background-color: black;
	padding: 7px auto;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 80px;
}

main {
	margin-top: 120px;
	margin-bottom: 40px;
}

section {
	background-color: black;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 17px;
}

div {

}

p {
	font-family: inherit;
	font-size: 14px;
	font-weight: 400;
	text-align: left;
}

footer {

}


h1 {
	font-size: 37px;
	font-weight: bold;
	font-family: Josefin Sans;

}

h2 {
	text-align: left;
	font-size: 27px;
	padding-left: 7%;
	font-family: Merriweather;
	font-weight: 700;
	font-style: italic;

}

.color1 {
	display: inline-block;
	width: 20%;
	padding: 10px;
	background-color: #1c852d;
	margin-bottom: 15px;
	margin-right: 10px;
}

.color2 {
	display: inline-block;
	width: 20%;
	padding: 10px;
	background-color: #840e9c;
	margin-bottom: 15px;
	margin-right: 10px;

}

.color3 {
	display: inline-block;
	width: 20%;
	padding: 10px;
	background-color: #1e65fc;
	margin-bottom: 15px;
	margin-right: 10px;

}

.color4 {
	display: inline-block;
	width: 20%;
	padding: 10px;
	background-color: #826a22;
	margin-bottom: 15px;
	margin-right: 10px;

}

.font1 {
 display: inline-block;
 width: 40%;
 padding: 10px;
 margin: 15px;
 font-family: Josefin Sans;

}

.font2 {
 display: inline-block;
 width: 40%;
 padding: 10px;
 margin: 15px;
 font-family: Merriweather;

}

.font3 {
 display: inline-block;
 width: 40%;
 padding: 10px;
 margin: 15px;
 font-family: 'M PLUS 1 Code';
}

.normal-font {
	font-style: normal;
	font-size: 14px;
}

.bold-font {
	font-weight: 700;
	font-size: 14px;
}

.italic-font {
	font-weight: normal;
	font-size: 14px;
	font-style: italic;
}

.main-heading {
	text-align: left;
	margin-left: 10px;
}

.sub-head-style {
	text-align: left;
	margin-left: 10px;
	padding-left: 0;
}

.paragraph-style {
	text-align: left;
	margin-left: 10px;
}
